// .plyr { min-width: 120px; }

// .plyr__tooltip {
//   display: none;
// }

// .plyr__controls {
//   display: inline-flex;
// 	justify-content: flex-start;
// }

.plyr--audio .plyr__controls {
  background: transparent;
  color: #fff;
}

.plyr__controls .plyr__controls__item:first-child {
  margin-left: 0;
	margin-right: 0;
}

.plyr__volume {
  align-items: center;
  display: flex;
  max-width: 120px;
  min-width: 110px;
  position: relative;
  width: 20%;
}

// .plyr__controls .plyr__controls__item {
//     margin: 0;
// }

// .plyr__control:hover {
//   background: #00b2ff;
//   color: #fff;
// }