.plyr--audio .plyr__controls {
  background: transparent;
  color: #fff;
  padding: 0;
}

.plyr__controls > button,
.plyr__controls__item .plyr__control,
.plyr__control {
  color: #fff !important;
}

.plyr__control:hover,
.plyr--audio .plyr__control {
  background: #00b2ff;
  color: #fff;
}
